@use "design-system";

.srp-input-import {
  &__container {
    min-height: 264px;
  }
  &__srp-note .mm-textarea:focus,
  &__initial-input:focus {
    outline: none;
  }
  &__initial-input {
    padding: 0;
  }
  &__words-list {
    grid-template-columns: repeat(3, 1fr);
    .mm-text-field {
      padding-inline-start: 8px;
      border-radius: 8px;
      &:not(.mm-text-field--error) {
        border-color: var(--color-border-muted);
      }
      &--focused {
        outline: 5px auto var(--color-primary-default);
      }
    }
    .mm-input {
      padding-inline-end: 8px;
      padding-inline-start: 4px;
    }
  }
  &__word-index {
    width: 20px;
    flex-shrink: 0;
  }
  &__actions {
    height: 3rem;
    grid-template-columns: repeat(2,1fr);
    border-top: solid var(--color-primary-inverse) ;
    
}
&__text{
height :40px
} 
}
